*.icon-white{color: white}
*.icon-silver{color: silver}
*.icon-white{color: green}
*.icon-dark{color: gray}
*.icon-red{color: red}
*.icon-darkcyan{color:darkcyan }
*.icon-crimson{color:crimson }
*.icon-green{color:darkgreen}
*.icon-dark{color: black}

h3{
    text-align: center;
}

.pagination {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

/*#previous-li #last-li #next-li #first-li {*/
/*    border: 1px solid #c9c9c9;*/
/*    width: 75px !important;*/
/*}*/


.pagination ul {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: 0 0;
}
.pagination li {
    display: inline;
    margin: 0;
    padding: 0;
}
.pagination li a {
    border: 1px solid #c9c9c9;
    color: #242424;
    text-decoration: black;
    font-weight: bolder !important;
    display: inline-block;
    transition: all .8s ease 0s;
    height: 40px;
    line-height: 40px;
    margin: 0 10px 0 0;
    padding: 0;
    text-align: center;
    width: 80px;
    margin-top: 10px;
}
.pagination li a:hover {
    background-color: #007bff;
    color: white;
}
.pagination li a.active {
    background-color: #007bff;
    color: white;
}

.pagination li a.disable {
    background-color: #007bff;
    color: white;
    margin: 75px;
}

@media screen and (max-width: 768px){
/*    small screen*/
    div.full-details { display: none}
    div.less-details { display: block}
}

@media screen and (min-width: 768px) and (max-width: 1024px){
/*    medium screen*/
    div.full-details {display: block}
    div.less-details {display: none}
    .hideable-column {display: none}

}

@media screen and (min-width: 1024px){
    div.less-details { display: none}
    .hideable-column {display: table-cell}
/*    large screen*/
}

