<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Categories - Shopme Admin')" />
<body>
<div class="container-fluid">
    <div th:replace="navigation :: menu"></div>
    <div>
        <h2>Manage Categories</h2>

        <a th:href="@{/categories/new}" class="fas fa-folder-plus fa-2x icon-dark mr-2"></a>
        <a th:href="@{/categories/export/csv}" class="fas fa-file-csv fa-2x icon-dark mr-2"></a>

    </div>

    <div th:if="${message != null}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <div th:replace="fragments :: search_form('/categories/page/1')" />

    <div class="full-details">
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Category Image</th>
                <th>
                    <a class="text-white" th:href="@{'/categories/page/' + ${currentPage} + '?sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Category Name</a>
                    <span th:class="${reverseSortDir == 'desc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}" ></span>
                </th>
                <th>Alias</th>
                <th>Enabled</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cat : ${listCategories}">
                <td>[[${cat.id}]]</td>
                <td>
                    <img th:src="@{${cat.imagePath}}" style="width: 100px" class="img-fluid"/>
                </td>
                <td>[[${cat.name}]]</td>
                <td>[[${cat.alias}]]</td>
                <td>
                    <div th:replace="fragments :: category_status" />
                </td>
                <td>
                    <div th:replace="fragments :: category_actions" />
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${keyword != null}" class="text-center">
        <span>Search result does not show categories in hierarchical form</span>
        <div th:replace="fragments :: pagination('/categories', 'categories')"></div>
    </div>

    <th:block th:unless="${keyword != null}">
        <div th:replace="fragments :: pagination('/categories', 'top-level categories')"></div>
</div>

<div th:replace="modal_fragments :: confirm_modal" />

<div th:replace="fragments :: footer"></div>

</div>
<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
    moduleURL = "[[@{/categories}]]";

    $(document).ready(function() {
        $(".link-delete").on("click", function(e) {
            e.preventDefault();
            showDeleteConfirmModal($(this), 'category');
        });
    });
</script>
</body>
</html>