<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="header_menu">

    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">

        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/images/ShopmeAdminSmall.png}">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
            <span class="navbar-toggler-icon"> </span>
        </button>

        <div class="collapse navbar-collapse" id="topNavbar">
            <ul class="navbar-nav">


                <li class="nav-item p-1">
                    <a class="nav-link"
                       href="">Careers</a>
                </li>

                <li class="nav-item p-1">
                    <a class="nav-link"
                       href=""> Payments</a>
                </li>


                <li class="nav-item p-1">
                    <a class="nav-link"
                       href="">Shipping &amp; Delivery</a>
                </li>

                <li class="nav-item p-1">
                    <a class="nav-link"
                       href="">Login</a>
                </li>

                <li class="nav-item p-1">
                    <a class="nav-link"
                       href="">Register</a>
                </li>

                <li class="nav-item p-1">
                    <a class="nav-link"
                       href="">Contact</a>
                </li>



        </div>

    </nav>
</div>
</body>
</html>