<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Users - TitaShop Admin', 'none')"/>
<body>
    <div class="container-fluid">
        <div th:replace="navigation :: menu"></div>
        <div>
            <h2 class="text-black-100">Manage Users</h2>

            <a th:href="@{/users/new}" class=" fas fa-user-plus fa-2x icon-dark mr-2 ml-2"></a>
            &nbsp;|&nbsp;
            <a th:href="@{/users/export/csv}" class="fas fa-solid fa-file-csv fa-2x icon-dark mr-2"></a>
            &nbsp;|&nbsp;
            <a th:href="@{/users/export/excel}" class="fas fa-solid fa-file-excel fa-2x icon-dark mr-2"></a>
            &nbsp;|&nbsp;
            <a th:href="@{/users/export/pdf}" class="fas fa-solid fa-file-pdf fa-2x icon-dark mr-2"></a>


        </div>


        <div th:replace="fragments :: search_form_and_message('/users/page/1')"></div>

        <div class="full-details">
            <p class="text-center font-weight-lighter">List of Users</p>
            <table class="table table-bordered table-striped table-hover table-responsive-xl table-condensed">
                <thead class="thead-dark">
                    <tr>
                        <th class="hideable-column">
                             <th th:replace="fragments :: column_link('/users', 'id', 'User Id','tag')"/>
                        </th>

                        <th>Photos</th>

                        <th class="hideable-column">
                            <th th:replace="fragments :: column_link('/users', 'email', 'Email', 'tag')"/>
                        </th>

                        <th th:replace="fragments :: column_link('/users', 'firstName', 'First Name', 'none')"/>
                        <th th:replace="fragments :: column_link('/users', 'lastName', 'Last Name', 'none')"/>
                        <th>Roles</th>
                        <th th:replace="fragments :: column_link('/users', 'enabled', 'Enabled', 'none')"/>
                        <th th:replace="fragments :: column_link('/users', 'createdDate', 'Client Since', 'none')"/>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
<!--                Começa com uma table body
                    para fazer a listagem dos usuários fazemos da seguinte forma
                    primeiro tem que adicionar o método no controller com o Model e add os atributos
                    os nomes devem corresponder
                    e abaixo dentro dessa sintaxe coloca cada atributo do Usuario-->
                    <!--/*@thymesVar id="listUsers" type=""*/-->
                    <tr th:each="user: ${listUsers}">
                        <td class="hideable-column">[[${user.id}]]</td>
                        <td><!--/*@thymesVar id="photos" type="images"*/-->
                        <span th:if="${user.photos == null}" class="fas fa-image-portrait fa-3x icon-silver"></span>
                            <!--/*@thymesVar id="getPhotosImagePath" type=""*/-->
                            <img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}"
                            style="width: 80px"/>
                        </td>
                        <td class="hideable-column">[[${user.email}]]</td>
                        <td>[[${user.firstName}]]</td>
                        <td>[[${user.lastName}]]</td>
                        <td>[[${user.roles}]]</td>

                        <td>
                            <div th:replace="fragments :: status(${user.enabled}, 'user', '/users/' + ${user.id})" />
                        </td>
                        <td>[[${user.createdDate}]]</td>
                        <td>
                            <div th:replace="fragments :: edit('user', '/users/edit/' + ${user.id})" />
                            &nbsp;&nbsp;

                            <div th:replace="fragments :: delete('user', ${user.id}, '/users/delete/' + ${user.id}, true)" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="less-details">
            <div th:each="user : ${listUsers}" class="row m-2">
                <div class="col-4">
                    <span th:if="${user.photos == null}" class="fas fa-image-portrait fa-5x icon-silver"></span>
                    <!--/*@thymesVar id="getPhotosImagePath" type=""*/-->
                    <img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}"
                         style="width: 80px"/>
                </div>
                <div class="col-8">
                    <div>[[${user.fullName}]]</div>
                    <div>[[${user.roles}]]</div>
                    <div class="mt-2">
                        <div th:replace="fragments :: status(${user.enabled}, 'user', '/users/' + ${user.id})" />
                        &nbsp;
                        <div th:replace="fragments :: edit('user', '/users/edit/' + ${user.id})" />
                        &nbsp;
                        <div th:replace="fragments :: delete('user', ${user.id}, '/users/delete/' + ${user.id}, true)" />
                    </div>
                </div>
                <div>&nbsp;</div>

            </div>
        </div>





        <div th:replace="fragments :: pagination('/users', 'users')"/>
        <div th:replace="modal_fragments :: confirm_modal" />
        <div th:replace="fragments :: footer"/>
    </div>


            <script type="text/javascript">
            $(document).ready(function (){
                $(".link-delete").on("click", function (e){
                    e.preventDefault();
                    link = $(this);
                    // alert($(this).attr("href"));
                    userId = link.attr("userId");
                    $("#yesButton").attr("href", link.attr("href"));
                    $("#confirmText").text("Are you sure you want to delete this user ID: " + userId + " ?")
                    $("#confirmModal").modal();
                });
            });

            function clearFilter(){
                window.location = "[[@{/users}]]";
            }
        </script>
</body>
</html>