<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" >

    <title>Manage Users</title>


    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
<!--    aula 32 minuto 3:22 tem diferença no head, aqui tem 3 script-->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}"/>

</head>
<body>
    <div class="container-fluid">
        <div>
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                <a class="navbar-brand" th:href="@{/}">
                    <img th:src="@{/images/ShopmeAdminSmall.png}">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
                    <span class="navbar-toggler-icon"> </span>
                </button>
                <div class="collapse navbar-collapse" id="topNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/users}">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/categories}">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/brands}">Brands</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/products}">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/customers}">Customers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/shipping}">Shipping</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/orders}">Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/report}">Sales Report</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/articles}">Articles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/menus}">Menus</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/settings}">Settings</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div>
            <h2 class="text-black-100">Manage Users</h2>
            <a class="btn btn-primary ml-1 mt-1 mb-0 btn-sm" th:href="@{/users/new}">Create New User</a>

        </div>
        <div th:if="${message != null}" class="alert alert-success text-center">
            [[${message}]]
        </div>
        <div>
            <p class="text-center font-weight-lighter">List of Users</p>
            <table class="table table-bordered table-striped table-hover table-responsive-xl table-condensed">
                <thead class="thead-dark">
                    <tr>
                        <th scope="row">User ID</th>
                        <th>Photos</th>
                        <th>
                            E-mail</th>
                        <th scope="row">First Name</th>
                        <th>Last Name</th>
                        <th>Roles</th>
                        <th>Enabled</th>
                        <th>
<!--                            <img class="m-1">-->
<!--                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar" width="36" height="36" viewBox="0 0 24 24" stroke-width="1" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
<!--                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>-->
<!--                                <rect x="4" y="5" width="16" height="16" rx="2" />-->
<!--                                <line x1="16" y1="3" x2="16" y2="7" />-->
<!--                                <line x1="8" y1="3" x2="8" y2="7" />-->
<!--                                <line x1="4" y1="11" x2="20" y2="11" />-->
<!--                                <line x1="11" y1="15" x2="12" y2="15" />-->
<!--                                <line x1="12" y1="15" x2="12" y2="18" />-->
<!--                            </svg>-->
<!--                        </img>-->
                            Client Since</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
<!--                Começa com uma table body
                    para fazer a listagem dos usuários fazemos da seguinte forma
                    primeiro tem que adicionar o método no controller com o Model e add os atributos
                    os nomes devem corresponder
                    e abaixo dentro dessa sintaxe coloca cada atributo do Usuario-->
                    <!--/*@thymesVar id="listUsers" type=""*/-->
                    <tr th:each="user: ${listUsers}">
                        <td>[[${user.id}]]</td>
                        <td><!--/*@thymesVar id="photos" type="images"*/-->
                        <span th:if="${user.photos == null}" class="fas fa-image-portrait fa-3x icon-silver"></span>
                            <!--/*@thymesVar id="getPhotosImagePath" type=""*/-->
                            <img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}"
                            style="width: 80px"/>
                        </td>
                        <td>[[${user.email}]]</td>
                        <td>[[${user.firstName}]]</td>
                        <td>[[${user.lastName}]]</td>
                        <td>[[${user.roles}]]</td>

                        <td>
<!--                            th:if="${user.enabled == true}"-->
                            <a th:if="${user.enabled == true}" class="fas fa-check-circle fa-2x icon-green"
                               th:href="@{'/users/' + ${user.id} + '/enabled/false'}"
                                title="Disable this user"></a>
                            <a th:if="${user.enabled == false}" class="fas fa-check-circle fa-2x icon-silver"
                               th:href="@{'/users/' + ${user.id} + '/enabled/true'}"
                               title="Enable this user"></a>
                        </td>

                        <td>[[${user.createdDate}]]</td>
                        <!--Actions-->
                        <td>
                            <a class="fas fa-light fa-pen-to-square fa-2x icon-crimson"
                               th:href="@{'/users/edit/' + ${user.id}}" title="Edit this user"></a>
                            &nbsp;
                            <a class="fas fa-trash fa-2x icon-black link-delete"
                               th:href="@{'/users/delete/' + ${user.id}}"
                               th:userId="${user.id}"
                            title="Delete this User"></a>
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>

        <div th:if="${totalItems > 0}">
            <h3 class="text-center mb-2">Showing users # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</h3>
        </div>

        <div th:unless="${totalItems > 0}">
            <h2> No Users found </h2>
        </div>

        <nav>
            <ul class="pagination justify-content-center mb-5">

                <li th:class="${currentPage > 1? 'page-item' : 'page-item disabled'}">
                    <a class="page-link" th:href="@{/users/page/1}" tabindex="-1">First</a>
                </li>

                <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a class="page-link" id="previous-li" th:href="@{'/users/page/' + ${currentPage - 1}}" tabindex="-1">Previous</a>
                </li>
<!--                erro para clicar na lista de paginação 31:29-->
                <li th:class="${currentPage != i ? 'page-item' : 'page-item active'}"
                    th:each="i : ${#numbers.sequence(1, totalPages)}">
                    <a class="page-link" th:href="@{'/users/page/' + ${i}}">[[${i}]]</a>
                </li>

                <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
<!--                <li class="page-item">-->
                    <a class="page-link" th:href="@{'/users/page/' + ${currentPage + 1}}">Next</a>
                </li>

                <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                    <a class="page-link" th:href="@{'/users/page/' + ${totalPages}}">Last</a>
                </li>


            </ul>
        </nav>



        <div class="modal fade text-center" id="confirmModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Confirmation</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        <span id="confirmText"></span>
                    </div>

                    <div class="modal-footer">
                        <a class="btn btn-success" href="" id="yesButton">Yes</a>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>


        <div class="text-center">
            <p>Tita Shop  Control Panel - Todos os Direitos Reservados &copy; Shopme</p>
        </div>
    </div>

        <script type="text/javascript">
            $(document).ready(function (){
                $(".link-delete").on("click", function (e){
                    e.preventDefault();
                    link = $(this);
                    // alert($(this).attr("href"));
                    userId = link.attr("userId");
                    $("#yesButton").attr("href", link.attr("href"));
                    $("#confirmText").text("Are you sure you want to delete this user ID: " + userId + " ?")
                    $("#confirmModal").modal();
                });
            });
        </script>
</body>
</html>